<a href="https://colab.research.google.com/github/AdeolaAdeyemi/TitanicData/blob/master/Adeola_Adeyemi_Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
train = pd.read_csv('C:\Users\adeola.adeyemi\Downloads\train.csv')

In [0]:
test = pd.read_csv(''C:\Users\adeola.adeyemi\Downloads\test.csv')

In [0]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [0]:
# Remove all rows where emabarked is Null
train = train.dropna(axis= 0, subset= ["Embarked"]).reset_index(drop=True)

In [0]:
# Remove all rows where age is Null
train = train.dropna(axis= 0, subset= ["Age"]).reset_index(drop=True)

In [0]:
train["Embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [0]:
#Total Number of Columns in the Dataset
train["PassengerId"].count()

712

In [0]:
#Remove columns that are irrelevant to the outcome
train = train.drop(columns = ["PassengerId", "Name", "Cabin", "Ticket", "Fare"])

In [0]:
train.tail()

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
707         0       3  female  39.0      0      5        Q
708         0       2    male  27.0      0      0        S
709         1       1  female  19.0      0      0        S
710         1       1    male  26.0      0      0        C
711         0       3    male  32.0      0      0        Q

In [0]:
def sex(x):
    sex = str(x).lower()
    if sex == "male":
        return 0
    return 1

def embarked(x):
    embarked = str(x).lower()
    if embarked == "s":
        return 0
    elif embarked == "c":
        return 1
    else:
        return 2

In [0]:
# Changed Sex and Embarked Columns to numerical values
train["Sex"] = train.apply(lambda x: sex(x["Sex"]), axis=1)
train["Embarked"] = train.apply(lambda x: embarked(x["Embarked"]), axis=1)

In [0]:
train.tail()

     Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
707         0       3    1  39.0      0      5         2
708         0       2    0  27.0      0      0         0
709         1       1    1  19.0      0      0         0
710         1       1    0  26.0      0      0         1
711         0       3    0  32.0      0      0         2

In [0]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [0]:
# training data feature columns 
X_ = train.iloc[:, 1:].values

In [0]:
#training data target values
y_ = train.iloc[:, 0].values

In [0]:
len(X_)

712

In [0]:
#Split dataset into Training and cross validation datasets
X_train, X_cv, y_train, y_cv = train_test_split(X_, y_, test_size=0.2, random_state=1)

In [0]:
len(y_train)

569

In [0]:
regressor = LogisticRegression()

In [0]:
regressor.fit(X_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
regressor.score(X_train, y_train)

0.8031634446397188

In [0]:
print(regressor.coef_)

[[-1.1177639   2.52268914 -0.03541156 -0.27855298 -0.05936975  0.07555144]]

In [0]:
cv_pred = regressor.predict(X_cv)

In [0]:
regressor.score(X_cv, y_cv)

0.7622377622377622

In [0]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [0]:
# Remove all rows where age is Null
test = test.dropna(axis= 0, subset= ["Age"]).reset_index(drop=True)

In [0]:
# Changed Sex Column to numerical values
test["Sex"] = test.apply(lambda x: sex(x["Sex"]), axis=1)
test["Embarked"] = test.apply(lambda x: embarked(x["Embarked"]), axis=1)

In [0]:
passenger_ids = test["PassengerId"].tolist()

In [0]:
#Remove columns that are irrelevant to the outcome
test = test.drop(columns = ["PassengerId", "Name", "Cabin", "Ticket", "Fare"])

In [0]:
test.head()

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    0  34.5      0      0         2
1       3    1  47.0      1      0         0
2       2    0  62.0      0      0         2
3       3    0  27.0      0      0         0
4       3    1  22.0      1      1         0

In [0]:
#get the features from the test data
X_test = test.values

In [0]:
# Get the predictions
y_pred = regressor.predict(X_test)

In [0]:
# Create a new Dataframe for the Test Result
result = pd.DataFrame(columns=["Passenger_ids", "Survived"])

In [0]:
result["Passenger_ids"] = passenger_ids

In [0]:
result["Survived"] = y_pred

In [0]:
result.head()

   Passenger_ids  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1

In [0]:
# result.to_csv("")